<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit</title>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Mali">
    <link rel="stylesheet" href="static/style2.css">
    <link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/3593/3593654.svg">

<style>
body {
    background-image: url("bg.jpg");
    background-size: 100%;
  font-family: 'mali', serif;
  font-size: 15px;
}
</style>

</head>

<body>
    <div class="header">
        <h1>Hun Mai Meh</h1>
        <p>อาหารที่คัดสรรมา เผื่อคุมน้ำหนักโดยเฉพาะ.</p>
      </div>

      <div class="topnav" >
        <a href="/index">Home</a>
        <a href="/foodlowkcal">Food Low Kcal</a>
        <a href="/foodlowkcalat7-11">Food Low Kcal at 7-11</a>
        <a href="/fruit">Fruit</a>

        <div class="dropdown" style="float:right;" >
            <a href="#" class="dropbtn">Login</a>
            <div class="dropdown-content" style="width: 30%;">
                <form action="/action_page.php" method="post" >
                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button type="submit">Login</button>
                        <label>
                          <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                      </div>

                      <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="psw">Forgot Password?</a></span>
                      </di>
                    </form>
                </div>
        </div>
      </div>


    <div class="row">
        <div class="leftcolumn">
            <div class="card2">
                <h2>10 ผลไม้ลดความอ้วน แคลฯ น้อย กินได้เพลินๆ พุงไม่มาเยือนแน่นอน</h2>
              <img src="https://women.mthai.com/app/uploads/2019/08/Cover-Pure-15-2.jpg" style="width: 40%; height: 40%;">
              <p>  1 ในข้อปฏิบัติของการลดน้ำหนักก็คือ ต้องลดการทานหวานๆ ลง หากใครติดการทานของจุ๊กจิ๊กให้เปลี่ยนเป็นทานผลไม้ที่ให้ความหวานน้อยแทน วันนี้เราจะพาไปดู 10 ผลไม้ลดความอ้วน ที่คุณสาวๆ สามารถทานได้เพลินๆ ไม่ต้องเป็นกังวลเรื่องแคลอรี่เลยค่ะ</p>
              <br>
              <h2>1. แอปเปิ้ล</h2>
              <p>-พูดได้เลยว่าเป็นผลไม้ที่โด่งดังในวงการลดความอ้วนมาก  ด้วยความที่แอปเปิ้ลมีความหวานที่ได้จากธรรมชาติ แถมยังเต็มไปด้วยวิตามินและเกลือแร่ที่มีประโยชน์ กินแล้วทำให้ไม่รู้สึกหิวบ่อย เหมาะมากๆ สำหรับสาวๆ ที่ติดทานของจุกจิก</p>
              <img src="https://women.mthai.com/app/uploads/2018/09/apple.jpg" style="width: 40%; height: 40%;">
              <p><b>-โดยแอปเปิ้ล 100 กรัม ให้พลังงาน 52 แคลอรี่</b></p>

               <h2>2. แตงโม</h2>
               <p> ผลไม้ฉ่ำน้ำ ต้องยกให้แตงโมไปเลยค่ะ เหมาะมากที่จะทานในหน้าร้อน ทั้งนี้ยังช่วยในเรื่องของการขับถ่ายของเสียออกจากร่างกาย ทานแล้วผิวพรรณก็ยังดูชุ่มชื่นอีกด้วย </p>
              <img src="https://women.mthai.com/app/uploads/2018/09/watermelon.jpg"style="width: 40%; height: 40%;"><b></b>
              <p><b>แตงโม 100 กรัม ให้พลังงาน 25 แคลอรี่เท่านั้นเอง</b></p>

              <b><h2>3. แก้วมังกร</h2></b>
              <p>สาวๆ ที่กำลังอยากจะลดหุ่นเป็นอย่างมาก นอกจากนี้แก้วมังกรยังมีสารต้านอนุมูลอิสระ ที่จะช่วยให้ผิวพรรณดูชุ่มชื่น คืนความอ่อนวัยแบบที่ไม่ต้องพึ่งครีมบำรุงเยอะเลยล่ะ</p>
              <img src="https://women.mthai.com/app/uploads/2018/09/Dragon-fruit.jpg" style="width: 40%; height: 40%;">
              <p><b>-แก้วมังกรเพียง 100 กรัม ให้พลังงาน 60 แคลอรี่</b></p>

              <b><h2>4. มะละกอ</h2></b>
              <p> ถ้าพูดถึงผลไม้ที่ช่วยในการขับถ่ายได้เป็นอย่างดี คงไม่มีใครไม่คิดถึงมะละกอ แต่นั่นไม่ใช่ประโยชน์เดียวที่มะละกอมี ในมะละกอมีเอนไซม์ที่ช่วยในการย่อยอาหาร และสารสารฟลาโวนอยด์ แคโรทีน วิตามินซี สารต้านอนุมูลอิสระ ที่จะช่วยบำรุงไม่ให้ผิวเสื่อมก่อนวัย แถมยังสามารถสู้กับไขมันส่วนเกินในร่างกายได้อีกด้วย</p>
              <img src="https://women.mthai.com/app/uploads/2018/09/papaya.jpg" style="width: 40%; height: 40%;">
              <p><b>-มะละกอ 100 กรัม ให้พลังงาน 13 แคลอรี่เท่านั้นเอง</b></p>

              <b><h2>5. ฝรั่ง</h2></b>
              <p>   อย่างที่เราทราบดีว่า ในฝรั่งอุดมไปด้วยสารอาหารที่เป็นระโยชน์เยอะมาก ไม่ว่าจะเป็น คาร์โบไฮเดรต ไฟเบอร์ ที่ทำให้เราอิ่มท้องได้นาน นอกจากนี้ยังมีวิตามินซี สารต้านอนุมูลอิสระ โพแทสเซียม ที่ช่วยบำรุงกระดูกและฟัน รับรองว่าว่าทานเจ้าฝรั่งเข้าไป ไม่มีผิวหวัง แถมผิวสดใสขึ้นด้วยนะเธอ</p>
              <img src="https://women.mthai.com/app/uploads/2018/09/guava.jpg" style="width: 40%; height: 40%;">
              <p><b>-ฝรั่งเพียง 100 กรัม ให้พลังงาน 60 แคลอรี่</b></p>

              <b><h2>6. สตรอว์เบอร์รี่</h2></b>
              <p>   นอกจากแคลจะน้อย สาวๆ สามารถทานได้แบบหายห่วงแล้ว รสชาติยังอร่อย ถูกปาก ขึ้นเป็นผลไม้โปรดในใจของใครหลายๆ คน ทั้งนี้สตอเบอร์รี่ยังมีฮอร์โมนอะดิโปเนกติน (Adiponectin) และฮอร์โมนเลปติน (Leptin) ซึ่งเป็นฮอร์โมนที่ช่วยเร่งระบบการเผาผลาญ จัดการไขมันสะสมในร่างกาย เริ่ดเวอร์!</p>
              <img src="https://women.mthai.com/app/uploads/2018/09/stawberries.jpg" style="width: 40%; height: 40%;">
              <p><b>-สตอเบอร์รี่ 100 กรัม ให้พลังงาน 33 แคลอรี่</b></p>

              <b><h2>7. ส้ม</h2></b>
              <p>    เมื่อพูดถึงส้ม สาวๆ จะขึ้นถึงวิตามินซี ความฉ่ำน้ำที่กินเข้าไปแล้วยังไงผิวก็สวย อิ่มน้ำแบบธรรมชาติแน่ๆ แต่อีกสิ่งหนึ่งที่หลายคนยังไม่รู้ก็คือ ส้มเป็นผลไม้ที่แคลฯ น้อยมาก</p>
              <img src="https://women.mthai.com/app/uploads/2018/09/orange.jpg" style="width: 40%; height: 40%;">
              <p><b>-100 กรัม ให้พลังงาน 42 แคลอรี่เอง เพราะฉะนั้นห้ามพลาดนะจ๊ะ</b></p>

              <b><h2>8. อะโวคาโด</h2></b>
              <p> เรามักจะเห็นอะโวคาโดเป็น 1 ในส่วนประกอบของอาหารคลีน หรืออาหารลดน้ำหนักต่างๆ นั่นก็เพราะว่าอะโวคาโดเป็ดกรดไขมันที่ดี ไขมันไม่อิ่มตัวเชิงเดี่ยวในอะโวคาโด จะช่วยเพื่อเผาผลาญไขมันอิ่มตัวในร่างกาย มีคุณสมบัติช่วยลดไขมันร้ายในหลอดเลือด เรียกได้ว่าประโยชน์เพียบ</p>
              <img src="https://women.mthai.com/app/uploads/2018/09/avocado.jpg" style="width: 40%; height: 40%;">
              <p><b>-อะโวคาโด 100 กรัม ให้พลังงาน 160 แคลอรี่</b></p>

              <b><h2>9. บลูเบอร์รี่</h2></b>
              <p> บลูเบอร์รี่เต็มไปด้วยสารอาหารและมีน้ำตาลน้อยกว่าผลไม้ชนิดอื่นๆ มันถูกยกย่องให้เป็นผลไม้เผาผลาญไขมันที่ดี นอกจากนี้ยังมีคุณค่าทางอาหารสูงและมีแคลอรีต่ำแถมยังหวานแบบมีประโยชน์ เส้นใยในผลเบอร์รี่ช่วยให้อิ่มเร็ว อิ่มนาน และยังมีวิตามินแร่ธาตุ สารต่อต้านอนุมูลอิสระ</p>
              <img src="https://women.mthai.com/app/uploads/2018/09/blueberries.jpg" style="width: 40%; height: 40%;">
              <p><b>-บลูเบอร์รี่เพียง 100 กรัม ให้พลังงาน 57 แคลอรี่</b></p>


              <b><h2>10. กล้วยหอม</h2></b>
              <p>  เคยได้ยินที่เขาว่ากันว่ากินกล้วยแล้วจะอิ่มไปอีกนานมั้ย นั่นก็เพราะว่ามันอุดมไปด้วยสารอาหารมากมาย แก้อาการท้องผูก มีฟรุกโตสกับกลูโคส ซึ่งเป็นสารแทนความหวานจากธรรมชาติ ส่วนสาวๆ ที่ออกกำลังกาย การกินกล้วยหอม สามารถช่วยบำรุงกล้ามเนื้อไม่ให้อ่อนล้าได้อีกด้วย โดยกล้วยหอม </p>
              <img src="https://women.mthai.com/app/uploads/2018/09/banana.jpg" style="width: 40%; height: 40%;">
              <p><b>-100 กรัม ให้พลังงาน 120 กิโลแคลอรี่</b></p>


              <h3>ที่มา : https://women.mthai.com/beauty/health/371339.html</h3>


            </div>

        </div>

        <div class="rightcolumn">

            <div class="card2" >

            <h2>เนื้อหายอดฮิต</h2>
            <div class="fakeimg"><img src="Untitled-1.png" style="height:100%; width: 100%;" alt=""></div>

        </div>

            <div class="card2">
                <h3>Popular Post</h3>
                <div class="fakeimg"><p>Image</p></div>
                <div class="fakeimg"><p>Image</p></div>
                <div class="fakeimg"><p>Image</p></div>
            </div>
            <div class="card2">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <h2>Footer</h2>
    </div>




</body>
</html>