<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodLowKcal</title>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Mali">
    <link rel="stylesheet" href="static/style2.css">
    <link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/3593/3593654.svg">

<style>
body {
    background-image: url("static/bg.jpg");
    background-size: 100%;
  font-family: 'mali', serif;
  font-size: 15px;
}
</style>

</head>

<body>
    <div class="header">
        <h1>Hun Mai Meh</h1>
        <p>อาหารที่คัดสรรมา เผื่อคุมน้ำหนักโดยเฉพาะ.</p>
      </div>

      <div class="topnav" >
        <a href="/index">Home</a>
        <a href="/foodlowkcal">Food Low Kcal</a>
        <a href="/foodlowkcalat">Food Low Kcal at 7-11</a>
        <a href="/fruit">Fruit</a>

        <div class="dropdown" style="float:right;" >
            <a href="#" class="dropbtn">Login</a>
            <div class="dropdown-content" style="width: 30%;">
                <form action="/action_page.php" method="post" >
                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button type="submit">Login</button>
                        <label>
                          <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                      </div>

                      <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="psw">Forgot Password?</a></span>
                      </di>
                    </form>
                </div>
        </div>
      </div>


    <div class="row">
        <div class="leftcolumn">
            <div class="card2">
                <h2>10 เทคนิคกินลดหุ่น กินอิ่ม ไม่ต้องอด แค่กินให้เป็นก็ผอมได้!</h2>
              <img src="https://cms.dmpcdn.com/women/2018/06/05/b9284b1e-578c-4b7b-96b2-94e82c64c83a.jpg" style="width: 40%; height: 40%;">
              <p>อยากผอม อยากหุ่นดี การกินช่วยได้นะจ๊ะ! อ๊ะๆ ใครกำลังสงสัยว่าการกินช่วยได้ยังไง ตามเรามาดู 10 เทคนิคกินลดหุ่น นี่เลยค่าา บอกเลยว่า แค่ปรับการกินให้ให้สมดุลและถูกต้อง ก็ช่วยให้ผอมได้แล้วนะ!
                  สำหรับเทคนิคดีๆ ที่เรานำมาฝากสาวๆ ในวันนี้ เป็นวิธีง๊ายง่ายค่ะ แค่ปรับการกินในชีวิตประจำวันของเราเพียงเล็กน้อยเท่านั้น ไม่ต้องอดอาหารให้เหนื่อยให้โทรม ก็มีหุ่นสวยได้เหมือนกัน! แต่กินตามนี้แล้ว อย่าลืมออกกำลังกายกันด้วยนะคะ จะได้มีหุ่นเฟิร์มสวย ไม่ย้วย อวดหุ่นใหม่ได้มั่นใจยิ่งกว่าเดิม!</p>
              <br>
              <img src="https://cms.dmpcdn.com/women/2018/06/05/46866d06-c2cb-43a6-a6a6-28f72bb2978d.jpg" style="width: 40%; height: 40%;">
              <h2>1. ดื่มน้ำ ก่อนกินอาหาร 30 นาที</h2>
              <p>  วิธีแรกนี้ บอกเลยว่า เหมาะสำหรับสาวที่ขี้เกียจออกกำลังกายสุดๆ ค่ะ เพราะแค่ดื่มน้ำก่อนกินอาหารก็ช่วยลดความอยากอาหารของเราไปได้เยอะเลย! ซึ่งวิธีนี้ถือเป็นวิธีลดน้ำหนักง่ายๆ ที่เราสามารถทำได้ทุกวันเลยค่ะ โดยแนะนำว่า ให้ดื่มน้ำเปล่า 1-2 แก้ว หรือประมาณ 16 ออนซ์ก่อนกินอาหาร 30 นาทีค่ะ วิธีนี้นอกจากจะทำให้เรารู้สึกอิ่มเร็ว กินอาหารได้น้อยลงแล้ว ยังเป็นการช่วยให้เราดื่มน้ำมากขึ้นในหนึ่งวันอีกด้วยล่ะค่าา</p>
              <br>
              <img src="https://cms.dmpcdn.com/women/2018/06/05/277c69ee-1c47-4f94-8141-240c8c4ac056.jpg "style="width: 40%; height: 40%;">
              <h2>2. กินอาหารโปรตีนสูงในมื้อเช้า</h2>
              <p>  ทำไมต้องกินอาหารโปรตีนสูงในมื้อเช้า? นั่นเป็นเพราะอาหารประเภทโปรตีนนั้นย่อยยาก ช่วยให้อิ่มนาน แถมอยู่ท้องอีกด้วย! การกินอาหารโปรตีนสูงในมื้อเช้าจะช่วยลดความอยากกินจุบจิบของเราได้ดีเลยค่ะ โดยอาหารโปรตีนสูงก็มีมากมายให้เลือกกินค่ะ ไม่ว่าจะเป็นไข่ไก่ เนื้อไก่ กรีกโยเกิร์ต และนอกจากจะเลือกกินอาหารโปรตีนสูงแล้ว อย่าลืมกินอาหารที่มีกากใยสูงด้วยนะคะ เพราะจะช่วยลดความหิวระหว่างมื้อ ลดอาการท้องอืด และช่วยให้ขับถ่ายง่ายขึ้นด้วย! </p>
              <br>
              <img src="https://cms.dmpcdn.com/women/2018/06/05/80bd4aa3-8261-440c-bfd8-d557e0c38199.jpg"style="width: 40%; height: 40%;">
              <h2>3. ดื่มน้ำอุ่นผสมมะนาวทุกเช้าหลังตื่นนอน</h2>
              <p> น้ำอุ่นผสมมะนาว บอกเลยว่า ช่วยลดความอ้วนได้ดีกว่าที่คิดนะคะสาวๆ เพราะการดื่มน้ำอุ่นโดยบีบมะนาวผสมลงไปเล็กน้อย จะช่วยย่อยอาหารได้ดีเลยค่ะ และถ้าดื่มหลังตื่นนอนจะยิ่งช่วยกระตุ้นการทำงานของลำไส้ ช่วยดีท็อกซ์ กระตุ้นการขับถ่าย ช่วยให้ขับถ่ายคล่องปรื๋อเลยล่ะ!</p>
              <br>
              <img src="https://cms.dmpcdn.com/women/2018/06/05/57e05111-9252-4148-9ce4-a857ecb75f64.jpg"style="width: 40%; height: 40%;">
              <h2>4. ดื่มชาเขียวแทนน้ำอัดลม</h2>
              <p>  ความลับของชาเขียวที่ใครหลายๆ คนไม่เคยรู้ก็คือ ชาเขียวช่วยกระตุ้นการเผาผลาญได้ดีนั่นเอง! โดยการดื่มชาเขียวแบบชงสด ไม่ใส่น้ำตาลใดๆ จะช่วยสลายไขมันเก่า แถมป้องกันไขมันใหม่ได้ดีเลยนะจ๊ะ ใครที่อยากผอม ระบบเผาผลาญดี แนะนำว่า ดื่มชาเขียว 4-5 แก้ว รวมทั้งออกกำลังกายอย่างน้อย 25 นาทีต่อวัน รับรองพุงหาย ไขมันสลายเรียบแน่นอนค่า</p>
              <br>
              <img src="https://cms.dmpcdn.com/women/2018/06/05/12a969a6-30ac-49b8-aeac-1ef6f651c7d9.jpg"style="width: 40%; height: 40%;">
              <h2>5. กินน้อยๆ แต่กินบ่อยๆ หลายๆ มื้อ</h2>
              <p> สำหรับใครที่อยากให้ระบบเผาผลาญดีขึ้น ลองเปลี่ยนจากการกินอาหารมื้อใหญ่ๆ ทีเดียวเยอะๆ มาเป็นกินน้อยๆ แต่กินบ่อยๆ หลายๆ มื้อกันดูค่ะ เพราะการกินแบบนี้จะช่วยกระตุ้นระบบเผาผลาญของเราให้ทำงานตลอดทั้งวัน! แต่ในแต่ละมื้อที่กินนั้น อย่าลืมว่าต้องเป็นอาหารที่ไม่ทำให้อ้วนด้วยนะคะ ของหวาน ของทอด อย่าได้หยิบเข้าปากเด็ดขาด ที่สำคัญเลยคือ กินให้น้อยกว่าพลังงานที่เราต้องใช้ต่อวัน จึงจะดีที่สุดค่า </p>
              <br>
              <img src="https://cms.dmpcdn.com/women/2018/06/05/4441d356-a88d-4e12-829a-4c08cb7e285a.jpg "style="width: 40%; height: 40%;">
              <h2>6. เลือกกินอาหารแคลอรี่ต่ำ</h2>
              <p> ถ้าอยากผอม อีกเทคนิคง่ายๆ ในการเลือกกินอาหารเลยก็คือ เลือกกินอาหารแคลอรี่ต่ำนี่ล่ะค่ะ เพราะการเลือกอาหารแคลอรี่ต่ำจะเป็นวิธีที่ช่วยจำกัดพลังงานที่เราต้องกินในแต่ละวันไปอีกหนึ่งทาง (คลิกอ่าน 13 อาหารแคลอรี่ต่ำ กินมากก็ไม่อ้วน แคลน้อยเทียบเท่าศูนย์ เหมาะสำหรับคุมน้ำหนัก!) ซึ่งในหนึ่งวันนั้นเราควรกินอาหารให้น้อยกว่าพลังงานที่ต้องใช้ต่อวัน โดยพลังงานที่ร่างกายต้องการใช้ต่อวันคำนวณได้จากสูตร BMR นั่นเองค่ะ ใครที่อยากรู้ว่าเราร่างกายเราต้องใช้แคลอรี่ต่อวันเท่าไหร่ ลองมาคำนวณตามนี้เลยค่ะ</p>
              <p><b>BMR สำหรับผู้ชาย</b> = 66 + (13.7 x น้ำหนักตัว (กิโลกรัม)) + (5 x ส่วนสูง (เซนติเมตร)) - (6.8 x อายุ)</p>
              <p><b>BMR สำหรับผู้หญิง</b>= 665 + (9.6 x น้ำหนักตัว (กิโลกรัม)) + (1.8 x ส่วนสูง (เซนติเมตร)) - (4.7 x อายุ)</p>
              <p><b>EX.</b>เราเป็นผู้หญิงอายุ 25 ปี หนัก 55 กิโลกรัม สูง 160 เซนติเมตร --> 665 + (9.6 x 55 (กิโลกรัม)) + (1.8 x 160 (เซนติเมตร)) - (4.7 x 25) = 1,598.5ฉะนั้นใน 1 วันเราจะต้องกินน้อยกว่า 1,598.5 แคลอรี่</p>
              <br>
              <img src="https://cms.dmpcdn.com/women/2018/06/05/b84ba202-81dc-4716-bd4d-698fa9a0a055.jpg "style="width: 40%; height: 40%;">
              <h2>7. กินอาหารเผ็ดบ้าง</h2>
              <p> ใครที่ไม่กินเผ็ด ต้องหันมากินเผ็ดบ้างแล้วล่ะ! เพราะอาหารเผ็ด ช่วยเพิ่มการเผาผลาญของร่างกายได้ดีเลยล่ะค่า เวลาที่เรากินอาหารเผ็ด แล้วเหงื่อแตกพลั่กๆ นั่นล่ะค่ะแสดงว่าร่างกายเรากำลังเผาผลาญอยู่ อาจจะเริ่มกินจากการเผ็ดเล็กน้อยก่อนก็ได้นะคะสาวๆ เพราถ้ากินเผ็ดมากไป รสจัดมากไป ก็อาจจะทำให้เป็นโรคกระเพาะได้เช่นกัน ฉะนั้นกินอย่างพอดีและสมดุลนะคะสาวๆ</p>
              <br>
              <img src="https://cms.dmpcdn.com/women/2018/06/05/c95376eb-4e6f-4a07-a4fb-1c81f20da8bd.jpg "style="width: 40%; height: 40%;">
              <h2>8. กินดาร์คช็อคโกแลตเป็นของหวาน</h2>
              <p>     อ้ะๆ ใครที่ติดขนมหวาน ขนมขบเคี้ยวทั้งหลาย ลองเปลี่ยนจากการหยิบขนมแบบนั้นเข้าปาก มาเป็นดาร์กช็อกโกแลตสักนิด รับรองว่าช่วยให้ผอมกว่าเดิมแน่นอนจ้าา เพราะดาร์กช็อกโกแลตจะช่วยลดความอยากอาหารได้ดี แถมยังมีสารฟลาโวนอยด์ (Flavonoid) ซึ่งเป็นสารต้านอนุมูลอิสระ ที่ช่วยบำรุงผิว ปกป้องผิวจากรังสียูวีได้อีกด้วยนะเออ! เรียกว่า ทั้งผอมทั้งผิวสวยกันเลย!</p>
              <br>
              <img src="https://cms.dmpcdn.com/women/2018/06/05/2d0d76e1-d4eb-44dd-ae1b-576adbe759c4.jpg "style="width: 40%; height: 40%;">
              <h2>9. ลดแป้งและน้ำตาล</h2>
              <p>กินอาหารแคลอรี่ต่ำก็แล้ว กินชาเขียวก็แล้ว การกินอีกวิธีหนึ่งที่จะช่วยให้การลดน้ำหนักเห็นผลมากสุดๆ ก็คือ การลดแป้งและน้ำตาลนั่นเองค่า เพราะแป้งและน้ำตาลเรียกได้ว่า เป็นตัวการของความอ้วน ทำให้น้ำหนักพุ่งขึ้นได้ง่ายๆ ! โดยการลดแป้งนั้นก็ทำได้ง่ายๆ เลยค่ะ เพียงเราเปลี่ยนจากการกินข้าวขาวมาเป็นข้าวไรซ์เบอร์รี่ ลดขนมชนิดแป้ง เช่น ขนมปังทั้งหลาย รวมทั้งกินของหวาน น้ำหวานให้น้อยลง หากลดได้รับรองว่าน้ำหนักไม่เพิ่ม พุงไม่ยื่นแน่นอนค่า</p>
              <br>
              <img src="https://cms.dmpcdn.com/women/2018/06/05/6b71f842-8584-4a85-af4c-cb4cc5debe49.jpg "style="width: 40%; height: 40%;">
              <h2>10. กินผักให้มากขึ้น!</h2>
              <p>   ถ้าร่างกายเรามีระบบย่อยอาหารและระบบขับถ่ายที่ดี ก็มีชัยไปกว่าครึ่งแล้วล่ะค่ะ ซึ่งแน่นอนว่า การจะปรับระบบย่อยอาหารและระบบขับถ่ายให้ดีขึ้นได้นั้น ผักทั้งหลายช่วยได้! เนื่องจากผักเป็นอาหารที่มีกากใยสูง กากใยจะช่วยให้เราขับถ่ายได้คล่องขึ้น ไม่ต้องพึ่งยาถ่ายอีกต่อไปค่า สำหรับผักที่มีไฟเบอร์สูงก็ได้แก่ คะน้า บล็อคโคลี่ ถั่วลันเตา (คลิกอ่าน ทำความรู้จัก! 10 ผักสลัด ประโยชน์เพียบ แคลอรี่ต่ำ กินยังไงก็ไม่มีอ้วน!) และนอกจากผักแล้ว ผลไม้ประเภทเบอร์รี่ ส้ม ก็มีกากใยสูงไม่แพ้กันค่ะ ถ้าอยากมีหุ่นสวย ต้องกินผักและผลไม้เป็นประจำทุกวันนะจ๊ะ!</p>


              <h3>ที่มา : https://women.trueid.net/detail/dVy2P87jbdEL</h3>

            </div>

        </div>

        <div class="rightcolumn">

          <div class="card2" >

          <h2>เนื้อหายอดฮิต</h2>
          <div class="fakeimg"><img src="Untitled-1.png" style="height:100%; width: 100%;" alt=""></div>

      </div>

            <div class="card2">
                <h3>Popular Post</h3>
                <div class="fakeimg"><p>Image</p></div>
                <div class="fakeimg"><p>Image</p></div>
                <div class="fakeimg"><p>Image</p></div>
            </div>
            <div class="card2">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <h2>Footer</h2>
    </div>




</body>
</html>