<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodLowKcal</title>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Mali">
    <link rel="stylesheet" href="static/style2.css">
    <link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/3593/3593654.svg">

<style>
body {
    background-image: url("static/bg.jpg");
    background-size: 100%;
  font-family: 'mali', serif;
  font-size: 15px;
}
</style>

</head>

<body>
    <div class="header">
        <h1>Hun Mai Meh</h1>
        <p>อาหารที่คัดสรรมา เผื่อคุมน้ำหนักโดยเฉพาะ.</p>
      </div>

      <div class="topnav" >
        <a href="/index">Home</a>
        <a href="/foodlowkcal">Food Low Kcal</a>
        <a href="/foodlowkcalat">Food Low Kcal at 7-11</a>
        <a href="/fruit">Fruit</a>

        <div class="dropdown" style="float:right;" >
            <a href="#" class="dropbtn">Login</a>
            <div class="dropdown-content" style="width: 30%;">
                <form action="/action_page.php" method="post" >
                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button type="submit">Login</button>
                        <label>
                          <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                      </div>

                      <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="psw">Forgot Password?</a></span>
                      </di>
                    </form>
                </div>
        </div>
      </div>


    <div class="row">
        <div class="leftcolumn">
            <div class="card2">
                <h2>1. ดื่มน้ำ 1 แก้ว หลังตื่นนอน</h2>
              <p>โดยปกติแล้วร่างกายผู้ชายจะต้องการน้ำเปล่าประมาณ 13 แก้วต่อวัน ส่วนร่างกายผู้หญิงต้องการน้ำ 9 แก้วต่อวัน ขั้นตอนแรก เริ่มจากให้ฝึกตื่นเช้าให้เป็นนิสัย เพราะร่างกายของเรามีนาฬิกาชีวิต อวัยวะต่างๆ จะทำงานตามเวลาของมัน ซึ่งเราก็ต้องดื่มน้ำให้สัมพันธ์กับแต่ละช่วงเวลาด้วย เวลา 06.30-07.00 น. ให้ดื่มน้ำ 1 แก้ว หลังตื่นนอนตอนเช้าทันที ช่วงนี้เลือดในร่างกายจะมีความข้นหนืดสูง หลังจากขาดน้ำมาทั้งคืน การดื่มน้ำในตอนนี้จะช่วยให้เลือดไหลเวียนได้ดี และยังช่วยกระตุ้นการขับถ่าย</p>
              <img src="https://www.thairath.co.th/media/Dtbezn3nNUxytg04OS2jo0gzW2I5KpXc9Mre1w4kJb1iyW.webp" style="width: 40%; height: 40%;">
              <br>

              <h2>2. ช่วงสายๆ ดื่มน้ำ 2-3 แก้ว</h2>
              <p>เวลา 08.00 น. ดื่มน้ำ 1 แก้ว โดยดื่มน้ำก่อนรับประทานอาหารเช้า 1 ชม. ไม่ควรดื่มก่อนกินข้าวแบบทันที เพราะจะทำให้น้ำย่อยมีความเจือจางลง ทำให้ย่อยอาหารได้ไม่ดีเท่าที่ควร อาจทำให้ท้องอืดท้องเฟ้อ ถัดมา เวลา 09.00-11.00 น. ดื่มน้ำ 1-2 แก้ว ร่างกายเริ่มทำงานเต็มที่ในช่วงเวลานี้ พอทำงานเต็มที่ก็จะมีของเสียเกิดขึ้น จึงควรดื่มน้ำเพื่อชำระล้างของเสียเหล่านั้นออกไปจากร่างกาย</p>
              <img src="https://www.thairath.co.th/media/Dtbezn3nNUxytg04OS2jo0gzW2I5KpXdNmEpANQYwR6HY7.webp "style="width:40%; height="40>
              <br>

              <h2>3. ดื่มน้ำก่อนมื้อเที่ยง</h2>
              <p>เวลา 12.00 น. เที่ยงวัน ให้ดื่มน้ำ 1/2 แก้ว ก่อนรับประทานอาหาร 1 ชม. หลังจากรับประทานอาหารเสร็จ จิบน้ำล้างปากได้เล็กน้อย ไม่ควรดื่มน้ำตามมากๆ เพราะจะทำให้น้ำย่อยเจือจาง ย่อยอาหารไม่ดีเท่าที่ควร</p>
              <img src="https://www.thairath.co.th/media/Dtbezn3nNUxytg04OS2jo0gzW2I5KpXdNmEpANQYwR6HY7.webp "style="width:40%; height="40>
              <br>

              <h2>4. ช่วงบ่าย ดื่มน้ำ 2-3 แก้ว</h2>
              <p>เวลา 13.00-16.00 น. ดื่มน้ำ 2 แก้ว ไม่ต้องดื่มน้ำรวดเดียวทั้ง 2 แก้วนะ แต่ให้ใช้การจิบน้ำระหว่างวันไปเรื่อยๆ เพื่อดับกระหาย และเพิ่มความชุ่มชื้นให้แก่ผิวพรรณ ยิ่งใครที่นั่งทำงานในห้องแอร์ ผิวจะแห้ง หยาบกระด้างได้ง่าย จึงควรเติมน้ำให้ผิวในช่วงนี้</p>
              <img src="https://www.thairath.co.th/media/Dtbezn3nNUxytg04OS2jo0gzW2I5KpXc1ZbtolMtwI9sSb.webp "style="width:40%; height="40>
              <br>

              <h2>5. ดื่มน้ำก่อนมื้อเย็น 1-2 แก้ว</h2>
              <p>เวลา 17.00-19.00 ช่วงเย็นควรแบ่งเวลาไปออกกำลังกาย และก่อนจะทานมื้อเย็น ให้ดื่มน้ำก่อนอาหาร 1 ชม. ในปริมาณ 1-2 แก้ว ถัดมาในช่วงหัวค่ำ เวลา 19.00-21.00 น. ให้ดื่มน้ำอีก 1 แก้ว โดยใช้การจิบน้ำไปเรื่อยๆ เพื่อให้ระบบเลือด ระบบลำไส้ทำงานได้ดี</p>
              <img src="https://www.thairath.co.th/media/Dtbezn3nNUxytg04OS2jo0gzW2I5KpXcpYU5ka6FaUgPgO.webp "style="width:40%; height="40>
              <br>

              <h2>6. ก่อนนอน ดื่มน้ำ 1 แก้ว</h2>
              <p>ในแต่ละวัน ควรเข้านอนเวลา 23.00 น. หรือไม่เกินเที่ยงคืน โดยก่อนจะนอน 1 ชม. ให้ดื่มน้ำ 1 แก้ว เพื่อชำระล้างสิ่งที่ตกค้างในลำไส้ แต่ไม่ควรดื่มใกล้เวลานอนเกินไป เพราะจะทำให้ปวดปัสสาวะกลางดึก รบกวนการนอน ทำให้นอนหลับไม่สนิทได้ </p>
              <img src="https://www.thairath.co.th/media/Dtbezn3nNUxytg04OS2jo0gzW2I5KpXdTGDT4CauoJutHC.webp "style="width:40%; height="40>
              <br>

              <h2>7. ทำไมการดื่มน้ำ ช่วยลดความอ้วน?</h2>
              <p>เดื่มน้ำเยอะๆ มีส่วนช่วยในการลดความอ้วน เพราะการดื่มน้ำอย่างน้อยวันละ 8 แก้ว จะช่วยลดปริมาณไขมันในร่างกายของเราให้ลงได้ และถ้าดื่มก่อนมื้ออาหาร 1 ชม. ก็จะช่วยลดความอยากอาหารลงได้ด้วย อีกทั้งช่วยในการย่อยอาหารให้ระบบย่อยอาหารทำหน้าที่ได้อย่างเต็มที่

                แต่ทั้งนี้ก็ไม่ควรดื่มมากเกินไป (ไม่ควรเกิน 10 แก้วต่อวัน) เพราะจะทำให้ไตทำงานหนัก ทำให้เซลล์บวมน้ำ อาการต่อมาคือปวดศีรษะ คลื่นไส้ อาเจียนได้</p>
              <img src="https://www.thairath.co.th/media/Dtbezn3nNUxytg04OS2jo0gzW2I5KpXc0Zn81a6YBe7qOb.webp "style="width:40%; height="40>
              <br>

            </div>

        </div>

        <div class="rightcolumn">

          <div class="card2" >

          <h2>เนื้อหายอดฮิต</h2>
          <div class="fakeimg"><img src="Untitled-1.png" style="height:100%; width: 100%;" alt=""></div>

      </div>

            <div class="card2">
                <h3>Popular Post</h3>
                <div class="fakeimg"><p>Image</p></div>
                <div class="fakeimg"><p>Image</p></div>
                <div class="fakeimg"><p>Image</p></div>
            </div>
            <div class="card2">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <h2>Footer</h2>
    </div>




</body>
</html>