

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hun Mai Meh</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mali">
    <link rel="stylesheet" href="static/style2.css">
    <link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/3593/3593654.svg">

<style>
body {
    background-image: url("static/bg.jpg");
    background-size: 100%;
  font-family: 'mali', serif;
  font-size: 15px;
}
</style>

</head>

<body>
    <div class="header">
        <h1>Hun Mai Meh</h1>
        <p>อาหารที่คัดสรรมา เผื่อคุมน้ำหนักโดยเฉพาะ.</p>
      </div>

      <div class="topnav" >
        <a href="/foodlowkcal">Food Low Kcal</a>
        <a href="/foodlowkcalat">Food Low Kcal at 7-11</a>
        <a href="/fruit">Fruit</a>


        {% if user.is_authenticated %}
        <div class="dropdown" style="float:right;" >
            <a href="/logout" class="dropbtn">Logout</a>
      </div>
        {{ user }}
        {% else %}
        <div class="dropdown" style="float:right;" >
            <a href="/login" class="dropbtn">Login</a>
            <div class="dropdown-content" style="width: 30%;">
                <form action="/login" method="post" >
                    {% csrf_token %}
                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>

                        <button type="submit">Login</button>
                        <label>
                          <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                      </div>

                      <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="psw">Forgot Password?</a></span>
                      </di>
                    </form>
                </div>
        </div>
      </div>
      {% endif %}


    <div class="row">
        <div class="leftcolumn">
            <div class="card2">
                 <h2><b></b>7 วิธีดื่มน้ำให้ผอม ช่วย "ลดน้ำหนัก" แถมผิวสวยเปล่งปลั่ง</h2>
                 <h5>13 ธ.ค. 2561 12:02 น.</h5>
                 <div class="fakeimg" ><img src="static/drink.webp"style="height:70%; width: 60%;" alt=""></a></div>
                 <p>หนึ่งในวิธี "ลดน้ำหนัก" ที่สาวๆ สายสุขภาพให้การยอมรับและบอกต่อกันมากก็คือ การดื่มน้ำเปล่าเยอะๆ แต่รู้หรือไม่? ว่าการดื่มน้ำเพื่อให้ผอม ก็ต้องมีขั้นตอนการดื่มให้ถูกต้องด้วย</p>
                 <p><b>ไลฟ์สไตล์ไทยรัฐ :</b> ได้รวบรวมวิธีและขั้นตอนการดื่มน้ำให้เพียงพอในแต่ละวัน เพื่อช่วยให้คุณลดน้ำหนักได้ดีอีกทางหนึ่ง และยังช่วยเรื่องผิวพรรณของสาวๆ ให้เปล่งปลั่งสดใสได้ด้วย</p>
                 <a href="HowToDrink.html">more</a>
            </div>
            <div class="card2">
                <h2><b>10 เทคนิคกินลดหุ่น กินอิ่ม ไม่ต้องอด แค่กินให้เป็นก็ผอมได้!</b></h2>
                <h5>5 มิถุนายน 2561 16:00 น.</h5>
                <div class="fakeimg" ><img src="https://cms.dmpcdn.com/women/2018/06/05/b9284b1e-578c-4b7b-96b2-94e82c64c83a.jpg" style="height:70%; width: 60%;"alt=""></div>
                <p>อยากผอม อยากหุ่นดี การกินช่วยได้นะจ๊ะ! อ๊ะๆ ใครกำลังสงสัยว่าการกินช่วยได้ยังไง ตามเรามาดู 10 เทคนิคกินลดหุ่น นี่เลยค่าา บอกเลยว่า แค่ปรับการกินให้ให้สมดุลและถูกต้อง ก็ช่วยให้ผอมได้แล้วนะ!</p>
                <p>สำหรับเทคนิคดีๆ ที่เรานำมาฝากสาวๆ ในวันนี้ เป็นวิธีง๊ายง่ายค่ะ แค่ปรับการกินในชีวิตประจำวันของเราเพียงเล็กน้อยเท่านั้น ไม่ต้องอดอาหารให้เหนื่อยให้โทรม ก็มีหุ่นสวยได้เหมือนกัน! แต่กินตามนี้แล้ว อย่าลืมออกกำลังกายกันด้วยนะคะ จะได้มีหุ่นเฟิร์มสวย ไม่ย้วย อวดหุ่นใหม่ได้มั่นใจยิ่งกว่าเดิม</p>
                <a href="HowToEat.html">more</a>
            </div>

        </div>

            <div class="rightcolumn">

                <div class="card2" >

                <h2>เนื้อหายอดฮิต</h2>
                <div class="fakeimg">
                    <img src="https://women.mthai.com/app/uploads/2019/08/Cover-Pure-15-2.jpg" style="height:100%; width: 100%;" alt="">
                    <a href="Fruit.html"><b>10 ผลไม้ลดความอ้วน แคลฯ น้อย กินได้เพลินๆ พุงไม่มาเยือนแน่นอน</b></a>

                </div>

            </div>

            <div class="card2">
                <h3>Popular Post</h3>
                <div class="fakeimg"><p>Image</p></div>
                <div class="fakeimg"><p>Image</p></div>
                <div class="fakeimg"><p>Image</p></div>
            </div>
            <div class="card2">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <h2>Footer</h2>
    </div>



    <script>

    {% if user.is_authendicate %}alert("Hello" : {{user}}){% endif %}

    </script>

</body>
</html>
