.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://images.unsplash.com/photo-1573865174887-dd85bc60e3e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }